.box {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  color: white;
  background-color: teal;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
